<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
  <style>
    .btn{
      margin-bottom:10px;
    }
  </style>
</head>
<body>
    
   <div class="container"> 
      <div class="page-header">
          <h1>Example page header <small>Subtext for header</small></h1>
        </div>
        <a class="btn btn-success" href="/post">发表留言</a>
      <ul class="list-group">
          {{each comments}}
            <li class="list-group-item">{{$value.name}}:{{$value.message}}
            <span class="pull-right">
              {{$value.date}}
            </span></li>
              {{/each}}
          
        </ul>
   </div>
</body>
</html>